@import '../../styles/variables.scss';

.barChartBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  height: 100%;
  width: 100%;

  h1 {
    &:first-child {
      font-size: 18px;
    }
  }
}