@import '../../styles/variables.scss';

.bigChartBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  height: 100%;
  width: 100%;

  .chart {
    height: 100%;
    width: 100%;
  }
}