.footer {
    display: flex;
    justify-content: space-between;
    padding: 30px;

    span {

        &:first-child {
            font-weight: 800;
        }

        &:last-child {
            font-size: 14px;
        }
    }

}